flows/esgf_ingest_flow.json
{
  "StartAt": "Transfer",
  "Comment": "A Flow for doing ingest of a dataset into ESGF repositories",
  "States": {
    "Transfer": {
      "Type": "Action",
      "ActionUrl": "https://actions.globus.org/transfer/transfer",
      "Parameters": {
        "source_endpoint_id.$": "$.source_endpoint_id",
        "destination_endpoint_id.$": "$.destination_endpoint_id",
        "label": "For ESGF Ingest and Extract",
        "transfer_items": [
          {
            "source_path.$": "$.source_folder_path",
            "destination_path.$": "$.destination_folder_path",
            "recursive": true
          }
        ]
      },
      "ResultPath": "$.TransferResult",
      "Catch": [
        {
          "ErrorEquals": [
            "ActionUnableToRun",
            "ActionFailedException"
          ],
          "Next": "TransferFailure"
        }
      ],
      "Next": "ESGFExtract"
    },
    "TransferFailure": {
      "Type": "Pass",
      "Parameters": {
        "Message": "Transfer of data into ESGF Failed"
      },
      "ResultPath": "$.FlowResult",
      "End": true
    },
    "ESGFExtract": {
      "Type": "Action",
      "Comment": "Run the ESGF Metadata extraction process",
      "ActionUrl": "https://esgf.petrel.host/esgf_extract",
      "ActionScope": "https://auth.globus.org/scopes/45aa9047-b21d-44c0-8abf-7023b532cb5b/esgf_extract_action_all",
      "Parameters": {
        "facets.$": "$.facets",
        "data_path.$": "$.destination_folder_path"
      },
      "ResultPath": "$.ExtractResult",
      "Catch": [
        {
          "ErrorEquals": [
            "ActionUnableToRun",
            "ActionFailedException"
          ],
          "Next": "ExtractFailure"
        }
      ],
      "Next": "DumpContext"
    },
    "ExtractFailure": {
      "Type": "Pass",
      "Parameters": {
        "Message": "Extraction or indexing of metadata failed",
        "Cause.$": "$.Cause"
      },
      "ResultPath": "$.FlowResult",
      "End": true
    },
    "DumpContext": {
      "Type": "Pass",
      "Parameters": {
        "Context.$": "$._context"
      },
      "ResultPath": "$.ContextOutput",
      "Next": "EmailNotification"
    },
    "EmailNotification": {
      "Type": "Action",
      "ActionUrl": "https://actions.globus.org/notification/notify",
      "Parameters": {
        "notification_method": "email",
        "sender": "ESGF Portal <esgf.notifications@gmail.com>",
        "destination.$": "$.user_email",
        "subject": "ESGF Dataset Ingest Complete",
        "body_template": "We Have completed Ingest of your Dataset. Thank you for your submission.",
        "body_mimetype": "text/html",
        "send_credentials": [
          {
            "credential_type": "smtp",
            "credential_method": "email",
            "credential_value": {
              "hostname": "smtp.gmail.com",
              "username": "esgf.notifications@gmail.com",
              "password": "EicjTivm32"
            }
          }
        ],
        "__Private_Parameters": [
          "send_credentials"
        ]
      },
      "ResultPath": "$.EmailNotificationResult",
      "Next": "SuccessfulCompletion"
    },
    "SuccessfulCompletion": {
      "Type": "Pass",
      "Parameters": {
        "Message": "The extraction and indexing completed succesfully"
      },
      "ResultPath": "$.FlowResult",
      "End": true
    }
  }
}
